# Models formate
*.pt
*.pth
*.ckpt
*.bin
*.h5
*.onnx
*.pb
*.tflite
*.sav
*.joblib
*.pickle
*.pkl

.vscode/
.idea/
.DS_Store
__pycache__/
*.log
*.tmp
*.bak
*.swp
*.zip
*.tar.gz
*.egg-info/
dist/
build/
*.egg
*.whl
*.ipynb_checkpoints/
*.env
.env/
venv/
env/
*.pyc
*.pyo
*.pyd
*.so    
*.zip
*.rar


*-dataset/
*-data/

*imx*/

